@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}
.wraper {
    width: 100vw;
    height: 100vh;

}

.main-card {
    height: 100%;
    width: 100%;
    margin: auto;
    border-radius: 0 !important;
    position: relative;
    overflow: hidden;
    border: none;
}

.main-card::before {
    content: '';
    position: absolute;
    scale: 2.5;
    border-radius: 50%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(0deg, #3E2D8F, #9D52AC);
    animation: bgRoundAnim 4s linear infinite;
}

@keyframes bgRoundAnim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.search-bar input {
    width: 90%;
    padding: 10px 30px;
    font-size: 1.1rem;
    outline: none !important;
}

.search-bar button {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    border: none;
    background: transparent;
    font-size: 1.3rem;
    color: #DDB130;
}

.search-bar button:hover {
    color: #c59914;
}

#eror {
    height: 20px !important;
    color: #fff;
    font-size: 0.9rem;
}

.shake {
    animation: shake 0.8s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
        /* Start and end position: no horizontal movement */
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
        /* Move 10px to the left */
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px);
        /* Move 10px to the right */
    }
}


.weather-details {
    height: fit-content;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center !important;
    background: transparent;
    background-image: linear-gradient(
        110deg,
        rgba(115, 87, 255, 0.3),
        rgba(62, 45, 143, 0.3)
    );
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid #efefef83;
}

.weather-details img {
    width: 144px;
    height: 144px;
    margin: auto;
    border: none;
}

.weather-details p {
    margin: 0;
    color: #fff;
}

#description {
    right: 20px;
    top: 20px;
    font-weight: bold;
}

#temp {
    font-size: 4rem;
    font-weight: 600;
}

#location {
    font-size: 1.3rem;
}


.extra-details {
    height: 100%;
    margin: 10px auto;
    width: 90%;
    color: #fff;
    background: transparent;
    background-image: linear-gradient(
        110deg,
        rgba(115, 87, 255, 0.3),
        rgba(62, 45, 143, 0.3)
    );
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    border: 1px solid #efefef83;
    padding-top: 3% !important;
}



@media screen and (max-width: 768px) {

    .main-card {
        width: 100%;
        border-radius: 0 !important;
    }
    .search-bar button{
        right: 10%;
    }



}

@media screen and (max-width: 368px) {

    .main-card {
        font-size: .8rem !important;
    }

    #temp {
        font-size: 2rem;
    }
}