@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Signika:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Signika", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wraper{
    width: 100vw;
    height: 100vh;

}
.main-card{
    height: 100%;
    width: 400px;
    margin: auto;
    background: linear-gradient(to top, #3E2D8F, #9D52AC);
}

.search-bar input{
    width: 90%;
    padding: 10px 30px;
    font-size: 1.1rem;
    outline: none !important;
}
.search-bar button{
    position: absolute;
    right: 35px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    border: none;
    background: transparent;
    font-size: 1.3rem;
    color: #DDB130;
}
.search-bar button:hover{
    color: #c59914;
}

#eror {
    height: 20px !important;
    color: #fff;
    font-size: 0.9rem;
}
.shake{
    animation: shake 0.8s ease-in-out ;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0); /* Start and end position: no horizontal movement */
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px); /* Move 10px to the left */
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px); /* Move 10px to the right */
    }
}


.weather-details{
    height: fit-content;
    margin: 0 22px;
    display: flex;
    justify-content: center !important;
    background: #ffffff24;
    border: 1px solid #3E2D8F;
}
.weather-details img{
    width: 144px;
    height: 144px;
    margin: auto;
    border: none;
}

.weather-details p{
    margin: 0;
    color: #fff;
}
#description{
    right: 20px;
    top: 20px;
    font-weight: bold;
}
#temp{
    font-size: 4rem;
    font-weight: 600;
}
#location{
    font-size: 1.3rem;
}


.extra-details{
    height: 100%;
    margin: 10px 22px;  
    background: #ffffff24;
    border: 1px solid #3E2D8F;
    color: #fff;
}